<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-social">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i> 
      <i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div class="footer-info">
      <a href="/home">Home </a>&nbsp;
      <a href="/privacy"> Privacy </a>&nbsp;
      <a href="/terms"> Terms </a>
    </div>
    <div class="footer-bottom">
     &copy; 2026 AVS private limited. All rights reserved.
     </div>
  </div>
 
</footer>
